.oneItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.oneItemPre {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;

  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
}

.oneItemImgPre {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
}

.oneItemDescPre {
  max-width: 600px;
  line-height: 1.5;
  color: #555;
}

.oneItemPricePre {
  font-size: 28px;
  font-weight: bold;
  color: #111;
}

.oneItemButtonsPre {
  display: flex;
  gap: 20px;
}

.oneItemBtnPre,
.linkBackPre {
  background: #333;
  color: white;
  border: none;

  padding: 12px 22px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;

  text-decoration: none;
}

.oneItemBtnPre:hover,
.linkBackPre:hover {
  background: #555;
}
